@page "/Booking"

<h3>Booking</h3>


<p>Fill information about your transport</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <label>Start Address</label>
            <input placeholder="Insert Address here" />

            <label>Start Address</label>
            <input placeholder="Insert Address here" />
        </div>

        <div class="col-sm-4">
            <label>Start Address</label>
            <input placeholder="Insert Address here" />

            <label>Start Address</label>
            <input placeholder="Insert Address here" />
        </div>

        <div class="col-sm-4">
            <label>Start Address</label>
            <input placeholder="Insert Address here" />

            <label>Start Address</label>
            <input placeholder="Insert Address here" />
        </div>

    </div>

</div>

@code {

}
